RUSTDESK_PORT=7000
RUSTDESK_PROVISIONER_SECRET=replace-with-at-least-32-random-characters
MYSQL_IMAGE=docker.1ms.run/mysql:8.4
RUSTDESK_TRUSTED_PROXY_IPS=
RUSTDESK_GEOIP_DATABASE=/var/www/data/GeoLite2-City.mmdb
RUSTDESK_GEOIP_SOURCE=
